@import "tailwindcss";

@layer utilities {
  @keyframes fade {
    from {
      opacity: 0.3;
    }
    to {
      opacity: 1;
    }
  }

  .fade {
    animation: fade 1s ease-in-out;
  }
}

@keyframes slide-horizontal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide-horizontal {
  animation: slide-horizontal 25s linear infinite;
}